body {
    background-color: #EEE;
    font-family: sans-serif;
}
#main {
    width: 25%;
    min-height: 200px;
    margin: 50px auto auto auto;
    background-color: #DDD;
    padding: 5px 20px 0px 20px;
}
#main #header {
    border-bottom: solid 1px #EEE;
    font-size: 20px;
    padding-bottom: 5px;
}
#main #content {
    margin-top: 20px;
    word-wrap: break-word;
}
.row {
    width: 100%;
    height: 30px;
}
.col {
    float: left;
    width: 50%;
}
.success-message {
    font-size: 22px;
    font-weight: bold;
}
.error-message {
    color: red;
    font-weight: bold;
}